:root {
    --light: hsl(0, 0%, 100%);
    --border-dark: rgba(113, 119, 144, 0.63);

}

@media (prefers-color-scheme: dark) {
    :root {
        --d-selection-color: #857d7d;
        --d-background-color: #2f2e2e;
        --d-background-color-darker: #232323;
        --d-background-color-60: rgba(47, 46, 46, 0.6);
        --d-background-color-80: rgba(47, 46, 46, 0.8);
        --d-text-color: #d2d2d2;
        --d-border-color-1: #aba6a6;
        --d-border-color-2: #5e5e5e;
        --d-border-color-3: #893aaf;
        --d-card-background-color-1: #893aaf;
        --d-card-background-color-2: #530d65;
        --d-image-shadow-transparent-white: rgba(189, 189, 189, 0.76);
        --d-image-shadow-transparent-grey: rgba(124, 124, 124, 0.72);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --d-selection-color: #857d7d;
        --d-background-color: #2f2e2e;
        --d-background-color-darker: #232323;
        --d-text-color: #d2d2d2;
        --d-border-color-1: #aba6a6;
        --d-border-color-2: #5e5e5e;
        --d-border-color-3: rgba(153, 112, 187, 0.71);
        --d-card-background-color: rgba(153, 112, 187, 0.71);
        --d-image-shadow-transparent-white: rgba(189, 189, 189, 0.76);
        --d-image-shadow-transparent-grey: rgba(145, 145, 145, 0.72);
    }
}
