@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;

    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
}

#app {
    min-height: 100vh;
    background: url("@/assets/images/background.jpg") fixed no-repeat;
    background-size: 110%;
}

router-link,
a {
    text-decoration: none;
    color: inherit;
}

router-link:hover,
a:hover {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    #app {
        /*background: var(--d-background-color);*/
        color: var(--d-text-color);
    }

    router-link {
        color: var(--d-text-color);
    }

    ::selection {
        background: var(--d-selection-color); /* Safari */
    }
    ::-moz-selection {
        background: var(--d-selection-color); /* Firefox */
    }
}
